/* Create a header that looks modern and nice */

.header {
  display: flex;
  flex-direction: row;
    background-color: #d2cece;
    padding: 1rem;
    text-align: center;
    list-style: none;
}

/* Create a nive modern navbar for the website */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
  color: black;
}

.navbar li ul, :link {
  list-style: none;
  text-decoration: none;
}

Link, :visited, :active, :hover, :focus {
  list-style: none;
  text-decoration: none;
  color: black;
}



/* Create a nice modern footer that is always on the bottom of the website */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d2cece;
  padding: 1rem;
  margin-top: auto;
  bottom: 0;
}

.footer p {
  margin: 0;
}