.main {
    margin: 0 auto;
}

.cart h1{
    text-align: center;
    margin: 2rem 0;
}

.cartItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #E5E5E5;
}

.cartItem img {
    width: 30%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
}

.cartTotal {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 2rem;    
    gap: 0.5rem;
}

.button, .checkoutbutton {
  background-color: #FF6F61;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.checkoutbutton {
    width: 30%;
    font-size: 1.5rem;
    padding: 1rem;
}