.main {
  margin: 0 auto; 
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

/* Searchbar */
.searchBar {
  border: 2px solid #3498DB;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
}
  
.searchBar:focus {
  outline: none;
  border-color: #F1C40F;
}

/* Product Cards */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.34);
  margin: 15px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 350px;
  max-height: 400px;
}

.cardHeader img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.discountWrap {
  position: absolute;
  background: #FF6F61;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), 0 2px 3px rgba(0, 0, 0, 0.44);
}

.discountWrap p {
  color: #fff;
  font-weight: bold;
  padding: 0.5rem;
}

.cardTitle h2 {
  font-weight: bold;
  font-size: 1.rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: bold;
  color: #2C3E50;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.cardButton {
  background-color: #FF6F61;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
  margin: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cardButton:hover {
  background-color: #FF5A46;
}

.link:link, .link:visited {
  text-decoration: none;
  color: #fff;
}

.price {
  display: flex;
  flex-direction: column;
  color: #FF6F61;
  font-weight: bold;
  margin-left: 1rem;
}

.normalPrice {
  font-size: smaller;
  text-decoration: line-through;
}

.discountPrice {
  color: black;
}

.toast {
  position: fixed;
  top: 50px;
  right: 30px;
  z-index: 9999;
  display: inline-flex;
  padding: 10px 20px;
  background-color: #FF6F61;
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/** Media Queries **/

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 0 auto;
    width: 90%;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}
