main {
    min-height: 100vh;
    background-color: #F5F5F5;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.image img {
    border-radius: 15px;
    margin: 2rem 0;
    width: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.priceCart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.price {
    display: flex;
    flex-direction: column;
    color: #FF6F61;
    font-weight: bold;
    margin-left: 1rem;
}
  
.normalPrice {
    font-size: smaller;
    text-decoration: line-through;
}

.discountPrice {
    color: black;
}

.button {
    background-color: #FF6F61;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.button:hover {
    background-color: #FF5A46;
    transform: scale(1.05);
}

.otherInfo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 0;
}

.tagsContainer {
    display: flex;
    flex-direction: column;
    align-self: end;
    width: 30%;
}

.tags {
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #FF6F61;
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tags p {
    color: #fff;
}

.footer {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0rem 2rem;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.userRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.stars {
    color: #FF5A46;
}

/** Media Queries **/

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .image img {
        margin: 0.5rem;
        width: 40%;
    }

    .footer {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    .otherInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin: 0;
    }

    .button {
        justify-content: center;
        padding: 1rem 1rem;
    }

    .priceCart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
    }

    .tagsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .tags {
        width: 60%;
    }
    
}